.boton-apod-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.input-box-photos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.div-title-qty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}