.wrapper-title-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

@media only screen and (max-width: 1200px) {
    
    .wrapper-title-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .wrapper-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
}