.games-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
}

.home-sub-title {
    background-color: black;
    color: aliceblue;
    padding: 1px;
    padding-left: 20px;
}

.home-sub-title h2 {
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: x-large;
}

.no-fav-div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}

.nonono {
    width: 800px;
}

.loading {
    width: 500px;
}