.container-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.selectCont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    width: 300px;
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: large;
    border-radius: 2px;
}

.selectCont-search {
    padding: 10px;
    margin: 20px;
    width: 500px;
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: large;
    border-radius: 2px;
}

.date-type {
 display: flex;
 justify-content: center;
 align-items: center;
}

.option {
    margin: 5px;
    font-family: 'Press Start 2P';
}

.date-picker {
    padding: 10px;
    margin: 20px;
    width: 80px;
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: large;
    border-radius: 2px;
}

.optionGroup {
    padding: 10px;
    font-family: 'Press Start 2P';
}

.button-submit {
    appearance: none;
    background-color: #abb2b4;
    border: 1px solid #1b1f2326;
    border-radius: 6px;
    box-shadow: #1b1f231a 0 1px 0;
    box-sizing: border-box;
    color: #0e0c0c;
    cursor: pointer;
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: large;
    line-height: 20px;
    padding: 10px;
    margin: 20px;
    margin-left: 20px;
    height: 40px;
}

.button-submit:hover {
    color: white ;
    background-color: #0e0c0c;
}