.games-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-sub-title {
    background-color: black;
    color: aliceblue;
    padding: 1px;
    padding-left: 20px;
}

.home-sub-title h2 {
    font-family: 'Press Start 2P';
    font-weight: 400;
    font-size: x-large;
    padding-top: 10px;
}

.nonono {
    width: 800px;
}

.noresults-div {
    border: 1px solid black;
    padding: 10px;
    background-color: rgb(193, 228, 230);
}

.noresults-div img {
    border: 1px solid black;
    width: 100%;
}

.loading {
    width: 500px;
}

