.navbar-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: grey;
}

.navbar-div button{
    font-family: 'Press Start 2P';
    padding: 10px;
    margin: 20px;
    width: 140px;
    border-radius: 8px;
    background-color: rgb(6, 8, 8);
    font-weight: 500;
    font-size: large;
    color: aliceblue;
}

.navbar-div button:hover {
    background-color: rgb(253, 246, 246);
    color:rgb(5, 10, 10)
}